@import url(../../Tela_Principal/css/global.css);
@import url(../../Tela_Principal/css/header.css);
@import url(../../Tela_Principal/css/session-below-header.css);
@import url(shirt-info.css);
@import url(add-info.css);
@import url(../../Tela_Principal/css/footer.css);