.shirt-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    margin-top: 180px;


    & div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & h2{
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 27px;
            line-height: 100%;

            color: #000;

            margin-bottom: 1.5rem;
        }

        & strong{
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;

            color: #1f8ee4;

            margin-bottom: 1.5rem;
        }

        & span{
            font-family: "Inter", sans-serif;
            font-weight: 700;
            font-size: 27px;
            line-height: 100%;

            color: #000;

            margin-bottom: 1.5rem;
        }
    }

    .radio-size{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
    }

    .radio-size input[type="radio"] {
        display: none;
    }

    .radio-size label {

        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;

        background: #d9d9d9;

        border-radius: 50%;

        cursor: pointer;

        transition: 0.5s;

        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 100%;

        color: #000;

        &:hover{
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .radio-size input[type="radio"]:checked + label {
        background: #000;
        color: #fff;
    }
}